[run]
source = .
omit = 
    */migrations/*
    */tests/*
    */test_*.py
    */__pycache__/*
    */venv/*
    */.venv/*
    */config/wsgi.py
    */config/asgi.py
    manage.py

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
